@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #06b6d4, #10b981);
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar{
  height: 8px;
  width:8px;
}
